@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

@media screen and (max-width:600px){
    .desktop-view{
        display: none;
    }
}

*{
    font-family: l;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.desktop-view{
    /* display: flex; */
    height: 100%;
    background-image: url("../background.jpg");
    background-size: cover;
  }


.sidebar{
    width: 20%;
    background-color: rgb(100, 100, 103);
    height: 100%;
    margin: 20px;
    border-radius: 28px;
    padding-left: 10px;
}

#carouselDesktopIndicators{
    width:80%;
    position: relative;
    height: fit-content;
    padding-right: 10px;
    padding-bottom: 10px;
}

  .flex{
    display: flex;
  }

  .flex-col{
    flex-direction: column;
  }

  .items-center{
    align-items: center;
  }

  .heading{
    height: 10vh;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(74, 17, 229);
    font-weight: 900;
  }

  .justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}
.years{
    cursor: pointer;
}

.display-none{
    display: none;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
    padding: 0;
}

.color-white{
    color: white;
}



