@media screen and (max-width:600px){
    .desktop-view{
        display: none;
    }
}

.desktop-view {
    display: flex;
    height: 100%;
  }


/* .sidebar{
    width: 20%;
    background-color: dimgray;
} */

.carousel-slide{
    width:80%;
    position: relative;
}

  